.homepage {
  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }
  h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
  a {
    color: var(--default-text-color);
  }
}

.homepage-book-table-section {
  h2 {
    margin: 60px 0 0 0;
  }
  button{
    margin: 16px 0;
  }
  flex-direction: column;
  align-items: center !important;
  button{
    padding: var(--default-padding);
    background-color: var(--primary-color);
    width: 240px;
    border-style: none;
    margin-top: 16px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    color: white;
  }
}

.mobile{
  @media (max-width: 768px) {
    justify-content: center !important;
  }
}